Repository Arbeidstilsynet/dotnet-common, changes with the labels that .github/labeler.yml gives for each.
All labels: AspNetCore, EraClient, ci

.github/labeler.yml:

AspNetCore:
  - changed-files:
      - any-glob-to-any-file: "AspNetCore/**"

EraClient:
  - changed-files:
      - any-glob-to-any-file: "EraClient/**"

documentation:
  - changed-files:
      - all-globs-to-any-file:
          - "**/*.md"
          - "!**/CHANGELOG.md"

ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

chore: update check job to always run, in order to be used as a PR criteria
  .github/workflows/build-pr.yaml
Labels: ci

chore: update check job to always run, in order to be used as a PR cr… (#52)
  .github/workflows/build-pr.yaml
Labels: ci

chore: prepare release aspnetcore 1.1.1
  AspNetCore/AT.Common.AspNetCore.Publish/AT.Common.AspNetCore.Publish.csproj
  AspNetCore/AT.Common.AspNetCore.Publish/CHANGELOG.md
Labels: AspNetCore

chore: prepare aspnetcore release 1.1.2
  AspNetCore/AT.Common.AspNetCore.Publish/AT.Common.AspNetCore.Publish.csproj
  AspNetCore/AT.Common.AspNetCore.Publish/CHANGELOG.md
Labels: AspNetCore

update readme
  AspNetCore/AT.Common.AspNetCore.Publish/Extensions/StartupExtensions.cs
  AspNetCore/AT.Common.AspNetCore.Publish/README.md
Labels: AspNetCore

revert source code change
  AspNetCore/AT.Common.AspNetCore.Publish/Extensions/StartupExtensions.cs
Labels: AspNetCore

fix: resolve URL based on HTTP context to support requests towards valid
  EraClient/AT.Common.EraClient.Publish/AT.Common.EraClient.Publish.csproj
  EraClient/AT.Common.EraClient.Publish/CHANGELOG.md
  EraClient/AT.Common.EraClient.Publish/DependencyInjection/DependencyInjectionExtensions.cs
  EraClient/AT.Common.EraClient.Publish/Extensions/AltinnExtensions.cs
  EraClient/AT.Common.EraClient.Publish/Implementation/AuthenticationClient.cs
  EraClient/AT.Common.EraClient.Publish/Implementation/EraAsbestClient.cs
  EraClient/AT.Common.EraClient.Test/Unit/DependencyInjectionTests.cs
Labels: EraClient

fix: resolve URL based on HTTP context to support requests towards valid (#54)
  EraClient/AT.Common.EraClient.Publish/AT.Common.EraClient.Publish.csproj
  EraClient/AT.Common.EraClient.Publish/CHANGELOG.md
  EraClient/AT.Common.EraClient.Publish/DependencyInjection/DependencyInjectionExtensions.cs
  EraClient/AT.Common.EraClient.Publish/Extensions/AltinnExtensions.cs
  EraClient/AT.Common.EraClient.Publish/Implementation/AuthenticationClient.cs
  EraClient/AT.Common.EraClient.Publish/Implementation/EraAsbestClient.cs
  EraClient/AT.Common.EraClient.Test/Unit/DependencyInjectionTests.cs
Labels: EraClient

chore(readme): Remove "Features", and add more relevant detail to the Usage example (#53)
  AspNetCore/AT.Common.AspNetCore.Publish/README.md
Labels: AspNetCore

initial commit: Enhetsregisteret
  Enhetsregisteret/.gitignore
  Enhetsregisteret/AT.Common.Enhetsregisteret.Publish/AT.Common.Enhetsregisteret.Publish.csproj
  Enhetsregisteret/AT.Common.Enhetsregisteret.Publish/CHANGELOG.md
  Enhetsregisteret/AT.Common.Enhetsregisteret.Publish/DependencyInjection/DependencyInjectionExtensions.cs
  Enhetsregisteret/AT.Common.Enhetsregisteret.Publish/Extensions/EnhetsregisteretExtensions.cs
  Enhetsregisteret/AT.Common.Enhetsregisteret.Publish/IAssemblyInfo.cs
  Enhetsregisteret/AT.Common.Enhetsregisteret.Publish/Implementation/EndringstypeJsonConverter.cs
  Enhetsregisteret/AT.Common.Enhetsregisteret.Publish/Implementation/EnhetsregisteretClient.cs
  Enhetsregisteret/AT.Common.Enhetsregisteret.Publish/Implementation/QueryExtensions.cs
  Enhetsregisteret/AT.Common.Enhetsregisteret.Publish/Model/Brreg/Adresse.cs
  Enhetsregisteret/AT.Common.Enhetsregisteret.Publish/Model/Brreg/Endringstype.cs
  Enhetsregisteret/AT.Common.Enhetsregisteret.Publish/Model/Brreg/Enhet.cs
  Enhetsregisteret/AT.Common.Enhetsregisteret.Publish/Model/Brreg/Koder.cs
  Enhetsregisteret/AT.Common.Enhetsregisteret.Publish/Model/Brreg/Link.cs
  Enhetsregisteret/AT.Common.Enhetsregisteret.Publish/Model/Brreg/Oppdatering.cs
  Enhetsregisteret/AT.Common.Enhetsregisteret.Publish/Model/Brreg/Organisasjonsform.cs
  Enhetsregisteret/AT.Common.Enhetsregisteret.Publish/Model/Brreg/Underenhet.cs
  Enhetsregisteret/AT.Common.Enhetsregisteret.Publish/Model/Request/GetOppdateringerQuery.cs
  Enhetsregisteret/AT.Common.Enhetsregisteret.Publish/Model/Request/Pagination.cs
  Enhetsregisteret/AT.Common.Enhetsregisteret.Publish/Model/Request/SearchEnheterQuery.cs
  Enhetsregisteret/AT.Common.Enhetsregisteret.Publish/Model/Response/PaginationResult.cs
  Enhetsregisteret/AT.Common.Enhetsregisteret.Publish/Ports/IEnhetsregisteret.cs
  Enhetsregisteret/AT.Common.Enhetsregisteret.Publish/README.md
  Enhetsregisteret/AT.Common.Enhetsregisteret.Test.ArchUnit/AT.Common.Enhetsregisteret.Test.ArchUnit.csproj
  Enhetsregisteret/AT.Common.Enhetsregisteret.Test.ArchUnit/ArchUnitExtensions.cs
  Enhetsregisteret/AT.Common.Enhetsregisteret.Test.ArchUnit/EnhetsregisteretTests.cs
  Enhetsregisteret/AT.Common.Enhetsregisteret.Test.ArchUnit/Layers.cs
  Enhetsregisteret/AT.Common.Enhetsregisteret.Test.ArchUnit/Usings.cs
  Enhetsregisteret/AT.Common.Enhetsregisteret.Test/AT.Common.Enhetsregisteret.Test.csproj
  Enhetsregisteret/AT.Common.Enhetsregisteret.Test/IAssemblyInfo.cs
  Enhetsregisteret/AT.Common.Enhetsregisteret.Test/Unit/EnhetsregisteretClientTests.cs
  Enhetsregisteret/AT.Common.Enhetsregisteret.Test/Unit/EnhetsregisteretExtensionsTests.cs
  Enhetsregisteret/Enhetsregisteret.sln
Labels: none

fix(tests): update GetUnderenheter and GetEnheter tests to use Enumerable.Empty for empty organization numbers
  Enhetsregisteret/AT.Common.Enhetsregisteret.Test/Unit/EnhetsregisteretExtensionsTests.cs
Labels: none

feat: add blub extension
  EraClient/AT.Common.EraClient.Publish/AT.Common.EraClient.Publish.csproj
  EraClient/AT.Common.EraClient.Publish/Extensions/AltinnExtensions.cs
Labels: EraClient

feat: add blub extensions
  BlubExtensions/.gitignore
  BlubExtensions/AT.Common.BlubExtensions.Publish/AT.Common.BlubExtensions.Publish.csproj
  BlubExtensions/AT.Common.BlubExtensions.Publish/CHANGELOG.md
  BlubExtensions/AT.Common.BlubExtensions.Publish/DependencyInjection/DependencyInjectionExtensions.cs
  BlubExtensions/AT.Common.BlubExtensions.Publish/Extensions/BlubExtensionsExtensions.cs
  BlubExtensions/AT.Common.BlubExtensions.Publish/IAssemblyInfo.cs
  BlubExtensions/AT.Common.BlubExtensions.Publish/Implementation/BlubExtensionsImplementation.cs
  BlubExtensions/AT.Common.BlubExtensions.Publish/Model/BlubExtensionsDto.cs
  BlubExtensions/AT.Common.BlubExtensions.Publish/Ports/IBlubExtensions.cs
  BlubExtensions/AT.Common.BlubExtensions.Publish/README.md
  BlubExtensions/AT.Common.BlubExtensions.Test.ArchUnit/AT.Common.BlubExtensions.Test.ArchUnit.csproj
  BlubExtensions/AT.Common.BlubExtensions.Test.ArchUnit/ArchUnitExtensions.cs
  BlubExtensions/AT.Common.BlubExtensions.Test.ArchUnit/BlubExtensionsTests.cs
  BlubExtensions/AT.Common.BlubExtensions.Test.ArchUnit/Layers.cs
  BlubExtensions/AT.Common.BlubExtensions.Test.ArchUnit/Usings.cs
  BlubExtensions/AT.Common.BlubExtensions.Test/AT.Common.BlubExtensions.Test.csproj
  BlubExtensions/AT.Common.BlubExtensions.Test/IAssemblyInfo.cs
  BlubExtensions/AT.Common.BlubExtensions.Test/Unit/BlubExtensionsExtensionsTests.cs
  BlubExtensions/AT.Common.BlubExtensions.Test/Unit/BlubExtensionsImplementationTests.cs
  BlubExtensions/BlubExtensions.sln
Labels: none

wip integration between wiremock openapi
  Enhetsregisteret/AT.Common.Enhetsregisteret.Test/AT.Common.Enhetsregisteret.Test.csproj
  Enhetsregisteret/AT.Common.Enhetsregisteret.Test/Integration/EnhetsregisteretClientIntegrationTests.cs
  Enhetsregisteret/AT.Common.Enhetsregisteret.Test/Integration/Setup/EnhetsregisteretTestFixture.cs
  Enhetsregisteret/AT.Common.Enhetsregisteret.Test/Integration/TestData/openapi.json
Labels: none

wip WireMock: OpenAPI spec
  Enhetsregisteret/AT.Common.Enhetsregisteret.Publish/DependencyInjection/DependencyInjectionExtensions.cs
  Enhetsregisteret/AT.Common.Enhetsregisteret.Publish/Implementation/EnhetsregisteretClient.cs
  Enhetsregisteret/AT.Common.Enhetsregisteret.Test/AT.Common.Enhetsregisteret.Test.csproj
  Enhetsregisteret/AT.Common.Enhetsregisteret.Test/Extensions/WireMockExtensions.cs
  Enhetsregisteret/AT.Common.Enhetsregisteret.Test/Integration/EnhetsregisteretClientIntegrationTests.cs
  Enhetsregisteret/AT.Common.Enhetsregisteret.Test/Integration/Setup/EnhetsregisteretTestFixture.cs
  Enhetsregisteret/AT.Common.Enhetsregisteret.Test/Integration/TestData/openapi.json
Labels: none

wip verify
  .gitignore
  Enhetsregisteret/AT.Common.Enhetsregisteret.Test/AT.Common.Enhetsregisteret.Test.csproj
  Enhetsregisteret/AT.Common.Enhetsregisteret.Test/Integration/EnhetsregisteretClientIntegrationTests.cs
  Enhetsregisteret/AT.Common.Enhetsregisteret.Test/Integration/TestData/Snapshots/EnhetsregisteretClientIntegrationTests.GetEnhet_InvalidOrganisasjonsnummer_ThrowsArgumentException.verified.txt
  Enhetsregisteret/AT.Common.Enhetsregisteret.Test/Integration/TestData/Snapshots/EnhetsregisteretClientIntegrationTests.GetEnhet_ValidOrganisasjonsnummer_ReturnsEnhet.verified.txt
  Enhetsregisteret/AT.Common.Enhetsregisteret.Test/Integration/TestData/Snapshots/EnhetsregisteretClientIntegrationTests.SearchEnheter_ValidRequest_ReturnsEnheter.verified.txt
  Enhetsregisteret/AT.Common.Enhetsregisteret.Test/Integration/TestData/openapi.json
  Enhetsregisteret/AT.Common.Enhetsregisteret.Test/Unit/QueryExtensionsTests.cs
  Enhetsregisteret/AT.Common.Enhetsregisteret.Test/Unit/TestData/Snapshots/QueryExtensionsTests.SearchParameters_ToMap_Mapscorrectly.verified.txt
Labels: none

more tests
  Enhetsregisteret/AT.Common.Enhetsregisteret.Publish/Extensions/EnhetsregisteretExtensions.cs
  Enhetsregisteret/AT.Common.Enhetsregisteret.Publish/Ports/IEnhetsregisteret.cs
  Enhetsregisteret/AT.Common.Enhetsregisteret.Test/Extensions/WireMockExtensions.cs
  Enhetsregisteret/AT.Common.Enhetsregisteret.Test/Integration/EnhetsregisteretClientIntegrationTests.cs
  Enhetsregisteret/AT.Common.Enhetsregisteret.Test/Integration/TestData/Snapshots/EnhetsregisteretClientIntegrationTests.GetOppdateringerEnheter_ValidRequest_ReturnsOppdateringer.verified.txt
  Enhetsregisteret/AT.Common.Enhetsregisteret.Test/Integration/TestData/Snapshots/EnhetsregisteretClientIntegrationTests.GetOppdateringerUnderenheter_ValidRequest_ReturnsOppdateringer.verified.txt
  Enhetsregisteret/AT.Common.Enhetsregisteret.Test/Integration/TestData/Snapshots/EnhetsregisteretClientIntegrationTests.GetUnderenhet_ValidOrganisasjonsnummer_ReturnsUnderenhet.verified.txt
  Enhetsregisteret/AT.Common.Enhetsregisteret.Test/Unit/EnhetsregisteretExtensionsTests.cs
  Enhetsregisteret/AT.Common.Enhetsregisteret.Test/Unit/QueryExtensionsTests.cs
  Enhetsregisteret/AT.Common.Enhetsregisteret.Test/Unit/TestData/Snapshots/QueryExtensionsTests.GetOppdateringerQuery_ToMap_MapsCorrectly.verified.txt
  Enhetsregisteret/AT.Common.Enhetsregisteret.Test/Unit/TestData/Snapshots/QueryExtensionsTests.Pagination_ToMap_MapsCorrectly.verified.txt
Labels: none

refactor: update comments and documentation for clarity and consistency across Enhetsregisteret API classes
  Enhetsregisteret/AT.Common.Enhetsregisteret.Publish/DependencyInjection/DependencyInjectionExtensions.cs
  Enhetsregisteret/AT.Common.Enhetsregisteret.Publish/Extensions/EnhetsregisteretExtensions.cs
  Enhetsregisteret/AT.Common.Enhetsregisteret.Publish/Model/Request/GetOppdateringerQuery.cs
  Enhetsregisteret/AT.Common.Enhetsregisteret.Publish/Model/Request/Pagination.cs
  Enhetsregisteret/AT.Common.Enhetsregisteret.Publish/Model/Request/SearchEnheterQuery.cs
  Enhetsregisteret/AT.Common.Enhetsregisteret.Publish/Model/Response/PaginationResult.cs
Labels: none

More tests
  Enhetsregisteret/AT.Common.Enhetsregisteret.Publish/AT.Common.Enhetsregisteret.Publish.csproj
  Enhetsregisteret/AT.Common.Enhetsregisteret.Publish/Model/Brreg/Enhet.cs
  Enhetsregisteret/AT.Common.Enhetsregisteret.Test/Integration/TestData/Snapshots/EnhetsregisteretClientIntegrationTests.GetEnhet_ValidOrganisasjonsnummer_ReturnsEnhet.verified.txt
  Enhetsregisteret/AT.Common.Enhetsregisteret.Test/Integration/TestData/Snapshots/EnhetsregisteretClientIntegrationTests.SearchEnheter_ValidRequest_ReturnsEnheter.verified.txt
  Enhetsregisteret/AT.Common.Enhetsregisteret.Test/Unit/QueryExtensionsTests.cs
  Enhetsregisteret/AT.Common.Enhetsregisteret.Test/Unit/TestData/Snapshots/QueryExtensionsTests.GetOppdateringerQuery_DefaultValues_ToMap_MapsCorrectly.verified.txt
  Enhetsregisteret/AT.Common.Enhetsregisteret.Test/Unit/TestData/Snapshots/QueryExtensionsTests.Pagination_DefaultValues_ToMap_MapsCorrectly.verified.txt
  Enhetsregisteret/AT.Common.Enhetsregisteret.Test/Unit/TestData/Snapshots/QueryExtensionsTests.SearchParameters_DefaultValues_ToMap_MapsCorrectly.verified.txt
Labels: none

format
  Enhetsregisteret/AT.Common.Enhetsregisteret.Publish/Implementation/EnhetsregisteretClient.cs
  Enhetsregisteret/AT.Common.Enhetsregisteret.Test/Unit/QueryExtensionsTests.cs
Labels: none

Update Enhetsregisteret/AT.Common.Enhetsregisteret.Publish/Implementation/QueryExtensions.cs
  Enhetsregisteret/AT.Common.Enhetsregisteret.Publish/Implementation/QueryExtensions.cs
Labels: none

format
  Enhetsregisteret/AT.Common.Enhetsregisteret.Publish/AT.Common.Enhetsregisteret.Publish.csproj
  Enhetsregisteret/AT.Common.Enhetsregisteret.Publish/DependencyInjection/DependencyInjectionExtensions.cs
  Enhetsregisteret/AT.Common.Enhetsregisteret.Publish/Extensions/EnhetsregisteretExtensions.cs
  Enhetsregisteret/AT.Common.Enhetsregisteret.Publish/Implementation/EndringstypeJsonConverter.cs
  Enhetsregisteret/AT.Common.Enhetsregisteret.Publish/Implementation/QueryExtensions.cs
  Enhetsregisteret/AT.Common.Enhetsregisteret.Publish/Model/Response/PaginationResult.cs
  Enhetsregisteret/AT.Common.Enhetsregisteret.Publish/Ports/IEnhetsregisteret.cs
  Enhetsregisteret/AT.Common.Enhetsregisteret.Test/AT.Common.Enhetsregisteret.Test.csproj
  Enhetsregisteret/AT.Common.Enhetsregisteret.Test/Extensions/WireMockExtensions.cs
  Enhetsregisteret/AT.Common.Enhetsregisteret.Test/Integration/EnhetsregisteretClientIntegrationTests.cs
  Enhetsregisteret/AT.Common.Enhetsregisteret.Test/Integration/Setup/EnhetsregisteretTestFixture.cs
  Enhetsregisteret/AT.Common.Enhetsregisteret.Test/Unit/EnhetsregisteretClientTests.cs
  Enhetsregisteret/AT.Common.Enhetsregisteret.Test/Unit/EnhetsregisteretExtensionsTests.cs
Labels: none

rename casing
  Enhetsregisteret/AT.Common.Enhetsregisteret.Test/Unit/TestData/Snapshots/QueryExtensionsTests.SearchParameters_ToMap_MapsCorrectly.verified.txt
Labels: none

prepare release
  Enhetsregisteret/AT.Common.Enhetsregisteret.Publish/AT.Common.Enhetsregisteret.Publish.csproj
Labels: none

refactor: change classes to records for immutability in Enhetsregisteret models
  Enhetsregisteret/AT.Common.Enhetsregisteret.Publish/AT.Common.Enhetsregisteret.Publish.csproj
  Enhetsregisteret/AT.Common.Enhetsregisteret.Publish/Model/Brreg/Adresse.cs
  Enhetsregisteret/AT.Common.Enhetsregisteret.Publish/Model/Brreg/Enhet.cs
  Enhetsregisteret/AT.Common.Enhetsregisteret.Publish/Model/Brreg/Koder.cs
  Enhetsregisteret/AT.Common.Enhetsregisteret.Publish/Model/Brreg/Link.cs
  Enhetsregisteret/AT.Common.Enhetsregisteret.Publish/Model/Brreg/Oppdatering.cs
  Enhetsregisteret/AT.Common.Enhetsregisteret.Publish/Model/Brreg/Organisasjonsform.cs
  Enhetsregisteret/AT.Common.Enhetsregisteret.Publish/Model/Brreg/Underenhet.cs
  Enhetsregisteret/AT.Common.Enhetsregisteret.Test/Integration/EnhetsregisteretClientIntegrationTests.cs
Labels: none

internal class->record
  Enhetsregisteret/AT.Common.Enhetsregisteret.Publish/Implementation/EnhetsregisteretClient.cs
Labels: none

format
  Enhetsregisteret/AT.Common.Enhetsregisteret.Publish/Model/Brreg/Enhet.cs
  Enhetsregisteret/AT.Common.Enhetsregisteret.Publish/Model/Brreg/Koder.cs
Labels: none

initial commit
  Enhetsregisteret/AT.Common.Enhetsregisteret.Test/Integration/README.md
  Enhetsregisteret/AT.Common.Enhetsregisteret.Test/Integration/TestData/Enhet.json
  GeoNorge/.gitignore
  GeoNorge/AT.Common.GeoNorge.Publish/AT.Common.GeoNorge.Publish.csproj
  GeoNorge/AT.Common.GeoNorge.Publish/CHANGELOG.md
  GeoNorge/AT.Common.GeoNorge.Publish/DependencyInjection/DependencyInjectionExtensions.cs
  GeoNorge/AT.Common.GeoNorge.Publish/Extensions/GeoNorgeExtensions.cs
  GeoNorge/AT.Common.GeoNorge.Publish/IAssemblyInfo.cs
  GeoNorge/AT.Common.GeoNorge.Publish/Implementation/GeoNorgeImplementation.cs
  GeoNorge/AT.Common.GeoNorge.Publish/Model/GeoNorgeDto.cs
  GeoNorge/AT.Common.GeoNorge.Publish/Ports/IGeoNorge.cs
  GeoNorge/AT.Common.GeoNorge.Publish/README.md
  GeoNorge/AT.Common.GeoNorge.Test.ArchUnit/AT.Common.GeoNorge.Test.ArchUnit.csproj
  GeoNorge/AT.Common.GeoNorge.Test.ArchUnit/ArchUnitExtensions.cs
  GeoNorge/AT.Common.GeoNorge.Test.ArchUnit/GeoNorgeTests.cs
  GeoNorge/AT.Common.GeoNorge.Test.ArchUnit/Layers.cs
  GeoNorge/AT.Common.GeoNorge.Test.ArchUnit/Usings.cs
  GeoNorge/AT.Common.GeoNorge.Test/AT.Common.GeoNorge.Test.csproj
  GeoNorge/AT.Common.GeoNorge.Test/IAssemblyInfo.cs
  GeoNorge/AT.Common.GeoNorge.Test/Integration/TestData/openapi.json
  GeoNorge/AT.Common.GeoNorge.Test/Unit/GeoNorgeExtensionsTests.cs
  GeoNorge/AT.Common.GeoNorge.Test/Unit/GeoNorgeImplementationTests.cs
  GeoNorge/GeoNorge.sln
Labels: none

wip geo norge client
  GeoNorge/AT.Common.GeoNorge.Publish/AT.Common.GeoNorge.Publish.csproj
  GeoNorge/AT.Common.GeoNorge.Publish/DependencyInjection/DependencyInjectionExtensions.cs
  GeoNorge/AT.Common.GeoNorge.Publish/Extensions/GeoNorgeExtensions.cs
  GeoNorge/AT.Common.GeoNorge.Publish/Implementation/GeoNorgeClient.cs
  GeoNorge/AT.Common.GeoNorge.Publish/Implementation/GeoNorgeImplementation.cs
  GeoNorge/AT.Common.GeoNorge.Publish/Implementation/QueryExtensions.cs
  GeoNorge/AT.Common.GeoNorge.Publish/Model/GeoNorgeDto.cs
  GeoNorge/AT.Common.GeoNorge.Publish/Model/Request/Pagination.cs
  GeoNorge/AT.Common.GeoNorge.Publish/Model/Request/PointSearchQuery.cs
  GeoNorge/AT.Common.GeoNorge.Publish/Model/Request/TextSearchQuery.cs
  GeoNorge/AT.Common.GeoNorge.Publish/Model/Response/Address.cs
  GeoNorge/AT.Common.GeoNorge.Publish/Model/Response/Location.cs
  GeoNorge/AT.Common.GeoNorge.Publish/Model/Response/PaginationResult.cs
  GeoNorge/AT.Common.GeoNorge.Publish/Ports/IGeoNorge.cs
  GeoNorge/AT.Common.GeoNorge.Test/AT.Common.GeoNorge.Test.csproj
  GeoNorge/AT.Common.GeoNorge.Test/Extensions/WireMockExtensions.cs
  GeoNorge/AT.Common.GeoNorge.Test/Integration/GeoNorgeClientIntegrationTests.cs
  GeoNorge/AT.Common.GeoNorge.Test/Integration/Setup/GeoNorgeTestFixture.cs
  GeoNorge/AT.Common.GeoNorge.Test/Unit/GeoNorgeExtensionsTests.cs
  GeoNorge/AT.Common.GeoNorge.Test/Unit/GeoNorgeImplementationTests.cs
  GeoNorge/AT.Common.GeoNorge.Test/Unit/QueryExtensionTests.cs
Labels: none

doc strings
  GeoNorge/AT.Common.GeoNorge.Publish/DependencyInjection/DependencyInjectionExtensions.cs
  GeoNorge/AT.Common.GeoNorge.Publish/Implementation/GeoNorgeClient.cs
  GeoNorge/AT.Common.GeoNorge.Publish/Implementation/QueryExtensions.cs
  GeoNorge/AT.Common.GeoNorge.Publish/Model/Request/PointSearchQuery.cs
  GeoNorge/AT.Common.GeoNorge.Publish/Model/Request/TextSearchQuery.cs
  GeoNorge/AT.Common.GeoNorge.Publish/Model/Response/Address.cs
  GeoNorge/AT.Common.GeoNorge.Publish/Model/Response/Location.cs
  GeoNorge/AT.Common.GeoNorge.Publish/Model/Response/PaginationResult.cs
  GeoNorge/AT.Common.GeoNorge.Publish/Ports/IGeoNorge.cs
  GeoNorge/AT.Common.GeoNorge.Test/Integration/GeoNorgeClientIntegrationTests.cs
  GeoNorge/AT.Common.GeoNorge.Test/Integration/Setup/GeoNorgeTestFixture.cs
  GeoNorge/AT.Common.GeoNorge.Test/Unit/QueryExtensionTests.cs
Labels: none

snapshot tests
  GeoNorge/AT.Common.GeoNorge.Publish/Implementation/GeoNorgeClient.cs
  GeoNorge/AT.Common.GeoNorge.Publish/Implementation/QueryExtensions.cs
  GeoNorge/AT.Common.GeoNorge.Test/Integration/GeoNorgeClientIntegrationTests.cs
  GeoNorge/AT.Common.GeoNorge.Test/Integration/Setup/GeoNorgeTestFixture.cs
  GeoNorge/AT.Common.GeoNorge.Test/Integration/TestData/Snapshots/GeoNorgeClientIntegrationTests.SearchAddressesByPoint_ValidRequest_DeserializesResult.verified.txt
  GeoNorge/AT.Common.GeoNorge.Test/Integration/TestData/Snapshots/GeoNorgeClientIntegrationTests.SearchAddresses_ValidRequest_DeserializesResult.verified.txt
  GeoNorge/AT.Common.GeoNorge.Test/Unit/QueryExtensionTests.cs
  GeoNorge/AT.Common.GeoNorge.Test/Unit/TestData/Snapshots/QueryExtensionTests.Pagination_DefaultValues_ToMap_MapsCorrectly.verified.txt
  GeoNorge/AT.Common.GeoNorge.Test/Unit/TestData/Snapshots/QueryExtensionTests.Pagination_ToMap_MapsCorrectly.verified.txt
  GeoNorge/AT.Common.GeoNorge.Test/Unit/TestData/Snapshots/QueryExtensionTests.PointSearchQuery_ToMap_MapsCorrectly.verified.txt
  GeoNorge/AT.Common.GeoNorge.Test/Unit/TestData/Snapshots/QueryExtensionTests.TextSearchQuery_DefaultValues_ToMap_MapsCorrectly.verified.txt
  GeoNorge/AT.Common.GeoNorge.Test/Unit/TestData/Snapshots/QueryExtensionTests.TextSearchQuery_ToMap_MapsCorrectly.verified.txt
Labels: none

format
  GeoNorge/AT.Common.GeoNorge.Publish/AT.Common.GeoNorge.Publish.csproj
  GeoNorge/AT.Common.GeoNorge.Publish/DependencyInjection/DependencyInjectionExtensions.cs
  GeoNorge/AT.Common.GeoNorge.Publish/Implementation/GeoNorgeClient.cs
  GeoNorge/AT.Common.GeoNorge.Publish/Implementation/QueryExtensions.cs
  GeoNorge/AT.Common.GeoNorge.Publish/Model/Request/Pagination.cs
  GeoNorge/AT.Common.GeoNorge.Publish/Model/Request/PointSearchQuery.cs
  GeoNorge/AT.Common.GeoNorge.Publish/Model/Request/TextSearchQuery.cs
  GeoNorge/AT.Common.GeoNorge.Publish/Model/Response/Address.cs
  GeoNorge/AT.Common.GeoNorge.Publish/Model/Response/Location.cs
  GeoNorge/AT.Common.GeoNorge.Publish/Model/Response/PaginationResult.cs
  GeoNorge/AT.Common.GeoNorge.Publish/Ports/IGeoNorge.cs
  GeoNorge/AT.Common.GeoNorge.Test/Integration/GeoNorgeClientIntegrationTests.cs
  GeoNorge/AT.Common.GeoNorge.Test/Integration/Setup/GeoNorgeTestFixture.cs
  GeoNorge/AT.Common.GeoNorge.Test/Unit/QueryExtensionTests.cs
Labels: none

extension methods
  GeoNorge/AT.Common.GeoNorge.Publish/AT.Common.GeoNorge.Publish.csproj
  GeoNorge/AT.Common.GeoNorge.Publish/Extensions/GeoNorgeExtensions.cs
  GeoNorge/AT.Common.GeoNorge.Publish/IAssemblyInfo.cs
  GeoNorge/AT.Common.GeoNorge.Publish/Implementation/GeoNorgeClient.cs
  GeoNorge/AT.Common.GeoNorge.Test/AT.Common.GeoNorge.Test.csproj
  GeoNorge/AT.Common.GeoNorge.Test/Unit/GeoNorgeClientUnitTests.cs
  GeoNorge/AT.Common.GeoNorge.Test/Unit/GeoNorgeExtensionsTests.cs
Labels: none

format
  GeoNorge/AT.Common.GeoNorge.Publish/Extensions/GeoNorgeExtensions.cs
  GeoNorge/AT.Common.GeoNorge.Publish/Implementation/GeoNorgeClient.cs
  GeoNorge/AT.Common.GeoNorge.Test/Unit/GeoNorgeClientUnitTests.cs
  GeoNorge/AT.Common.GeoNorge.Test/Unit/GeoNorgeExtensionsTests.cs
Labels: none

remove caching
  GeoNorge/AT.Common.GeoNorge.Publish/AT.Common.GeoNorge.Publish.csproj
  GeoNorge/AT.Common.GeoNorge.Publish/DependencyInjection/DependencyInjectionExtensions.cs
  GeoNorge/AT.Common.GeoNorge.Publish/Implementation/GeoNorgeClient.cs
Labels: none

changelog + preview version
  GeoNorge/AT.Common.GeoNorge.Publish/AT.Common.GeoNorge.Publish.csproj
  GeoNorge/AT.Common.GeoNorge.Publish/CHANGELOG.md
Labels: none

Remove convoluted formatting of floats
  GeoNorge/AT.Common.GeoNorge.Publish/DependencyInjection/DependencyInjectionExtensions.cs
  GeoNorge/AT.Common.GeoNorge.Publish/Implementation/QueryExtensions.cs
  GeoNorge/AT.Common.GeoNorge.Test/Unit/TestData/Snapshots/QueryExtensionTests.PointSearchQuery_ToMap_MapsCorrectly.verified.txt
Labels: none

typo
  GeoNorge/AT.Common.GeoNorge.Publish/Implementation/QueryExtensions.cs
Labels: none

remove unintended files
  Enhetsregisteret/AT.Common.Enhetsregisteret.Test/Integration/README.md
  Enhetsregisteret/AT.Common.Enhetsregisteret.Test/Integration/TestData/Enhet.json
Labels: none

more readme
  GeoNorge/AT.Common.GeoNorge.Publish/AT.Common.GeoNorge.Publish.csproj
  GeoNorge/AT.Common.GeoNorge.Publish/DependencyInjection/DependencyInjectionExtensions.cs
  GeoNorge/AT.Common.GeoNorge.Publish/Extensions/GeoNorgeExtensions.cs
  GeoNorge/AT.Common.GeoNorge.Publish/README.md
Labels: none
