Repository Arbeidstilsynet/dotnet-common, pull requests merged in 2025-08, with the labels that each got.

#67 chore: update altinn adapter and startup extensions with misc features
  Altinn/AT.Common.Altinn.Publish/AT.Common.Altinn.Publish.csproj
  Altinn/AT.Common.Altinn.Publish/CHANGELOG.md
  Altinn/AT.Common.Altinn.Publish/Implementation/Adapter/AltinnAdapter.cs
  Altinn/AT.Common.Altinn.Publish/Model/Adapter/FileMetadata.cs
  AspNetCore/AT.Common.AspNetCore.Publish/AT.Common.AspNetCore.Publish.csproj
  AspNetCore/AT.Common.AspNetCore.Publish/CHANGELOG.md
  AspNetCore/AT.Common.AspNetCore.Publish/CrossCutting/CustomControllerFeatureProvider.cs
  AspNetCore/AT.Common.AspNetCore.Publish/Extensions/StartupExtensions.cs
Labels: AspNetCore

#66 feat(AspNetCore): Memory cached http client
  AspNetCore/AT.Common.AspNetCore.Publish/AT.Common.AspNetCore.Publish.csproj
  AspNetCore/AT.Common.AspNetCore.Publish/CHANGELOG.md
  AspNetCore/AT.Common.AspNetCore.Publish/CrossCutting/ApiExceptionHandler.cs
  AspNetCore/AT.Common.AspNetCore.Publish/CrossCutting/MemoryCachingHandler.cs
  AspNetCore/AT.Common.AspNetCore.Publish/CrossCutting/RequestValidationFilter.cs
  AspNetCore/AT.Common.AspNetCore.Publish/DependencyInjection/MemoryCachedHttpClient.cs
  AspNetCore/AT.Common.AspNetCore.Publish/Extensions/ExceptionHandlingOptions.cs
  AspNetCore/AT.Common.AspNetCore.Publish/Extensions/StartupExtensions.cs
  AspNetCore/AT.Common.AspNetCore.Publish/README.md
  AspNetCore/AT.Common.AspNetCore.Test/AT.Common.AspNetCore.Test.csproj
  AspNetCore/AT.Common.AspNetCore.Test/Unit/ApiExceptionHandlerTests.cs
  AspNetCore/AT.Common.AspNetCore.Test/Unit/MemoryCachingHandlerTests.cs
  AspNetCore/AT.Common.AspNetCore.Test/Unit/RequestActionFilterTests.cs
  AspNetCore/AT.Common.AspNetCore.Test/Unit/StartupExtensionsTests.cs
  AspNetCore/AT.Common.AspNetCore.Test/Unit/TestData/Snapshots/MemoryCachingHandlerTests.SendAsync_CachedResponse_IsIndependentInstance.verified.txt
  AspNetCore/AT.Common.AspNetCore.Test/Unit/TestData/Snapshots/MemoryCachingHandlerTests.SendAsync_ReturnsCachedResponse_WhenCacheHit.verified.txt
Labels: documentation, AspNetCore

#68 chore: update labeler
  .github/labeler.yml
Labels: ci

#70 chore: enhance altinn metadata with process started / ended
  Altinn/AT.Common.Altinn.Publish/AT.Common.Altinn.Publish.csproj
  Altinn/AT.Common.Altinn.Publish/CHANGELOG.md
  Altinn/AT.Common.Altinn.Publish/Extensions/AdapterExtensions.cs
  Altinn/AT.Common.Altinn.Publish/Model/Adapter/AltinnMetadata.cs
Labels: Altinn

#71 chore(extensions): add default hexarch project `Sources` for tracing
  AspNetCore/AT.Common.AspNetCore.Publish/AT.Common.AspNetCore.Publish.csproj
  AspNetCore/AT.Common.AspNetCore.Publish/CHANGELOG.md
  AspNetCore/AT.Common.AspNetCore.Publish/Extensions/StartupExtensions.cs
Labels: AspNetCore
