Repository Arbeidstilsynet/dotnet-common, pull requests merged in 2025-09, with the labels that each got.

#77 fix(altinn): instance completion
  Altinn/AT.Common.Altinn.Publish/AT.Common.Altinn.Publish.csproj
  Altinn/AT.Common.Altinn.Publish/CHANGELOG.md
  Altinn/AT.Common.Altinn.Publish/DependencyInjection/DependencyInjectionExtensions.cs
  Altinn/AT.Common.Altinn.Publish/Implementation/Clients/AltinnAppsClient.cs
  Altinn/AT.Common.Altinn.Publish/Implementation/Clients/AltinnStorageClient.cs
  Altinn/AT.Common.Altinn.Publish/Ports/Clients/IAltinnAppsClient.cs
  Altinn/AT.Common.Altinn.Publish/Ports/Clients/IAltinnStorageClient.cs
  Altinn/AT.Common.Altinn.Test/Unit/ClientTests/AltinnAppsClientTests.cs
  Altinn/AT.Common.Altinn.Test/Unit/ClientTests/AltinnStorageClientTests.cs
  Altinn/AT.Common.Altinn.Test/Unit/Setup/AltinnApiTestFixture.cs
  Altinn/AT.Common.Altinn.Test/Unit/TestData/openapi/altinn-apps-v1.json
Labels: Altinn

#87 fix: altinn dtos null value handling
  Altinn/AT.Common.Altinn.Publish/AT.Common.Altinn.Publish.csproj
  Altinn/AT.Common.Altinn.Publish/CHANGELOG.md
  Altinn/AT.Common.Altinn.Publish/Model/Api/Request/AltinnCloudEvent.cs
  Altinn/AT.Common.Altinn.Publish/README.md
Labels: documentation, Altinn

#89 chore(health-check): provide more details on each check
  AspNetCore/AT.Common.AspNetCore.Publish/AT.Common.AspNetCore.Publish.csproj
  AspNetCore/AT.Common.AspNetCore.Publish/CHANGELOG.md
  AspNetCore/AT.Common.AspNetCore.Publish/CrossCutting/CustomHealthReport.cs
  AspNetCore/AT.Common.AspNetCore.Publish/Extensions/StartupExtensions.cs
Labels: AspNetCore
